* {
  background-color: #63c5da;
  color: white;
}

a {
  text-decoration: underline;
  cursor: pointer;
}

#topPart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#profilePic {
  width: 150px;
  height: 150px;
}

#skillsTable {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#skillsTable img {
  width: 80px;
  height: 80px;
  margin: 10px;
}

#projectLine {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 98%;
  margin: 10px;
  gap: 10px;
}

.projectCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
}

#projectCard img {
  width: 300px;
  height: 200px;
}

p {
  overflow-y: auto;
}
