* {
  background-color: black;
  color: white;
}

#profilePic {
  width: 150px;
  height: 150px;
}

#skillsTable {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#skillsTable img {
  width: 80px;
  height: 80px;
  margin: 10px;
}

#projectLine {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 990px;
  height: 500px;
  gap: 15px;
}

.projectCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
}

#projectCard img {
  width: 200px;
  height: 200px;
}
